body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.grid-item {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.grid-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.desc {
    padding: 10px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

div {
    display: block;
    unicode-bidi: isolate;
}